/* add sub&main bttn, make input less jaring, good font*/  
/* CSS */

body{
    background: linear-gradient(0deg, hsla(272, 77%, 54%, 1) 0%, hsla(256, 90%, 46%, 1) 80%);
    height:150vh;
    color: white;
}

.header{
    color: white;
    text-align: center;
    font-size: 5rem;
    margin: 5px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    text-align: center;
    color: white;
}

.buttons{
    text-align: center;
    margin: 20px;
}

.home{
    text-align: end;
}

.button, .button4000{
    margin: 5px;
    padding: 10px 20px;
    background-color: white;
    color: hsla(256, 90%, 46%, 1);
    font-family: Verdana, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover, .button4000:hover{
    background-color: #4CAF50;
}

.score{
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.score_main{
    width: auto;
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.score_num{
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 20rem;
    

}

.game{
    text-align: center;
    margin: 5px;
    padding: 0;
    border: 3px gray dotted;
    box-sizing: border-box;
}
.picDefContainer{
    display: flex;
    text-align: center;
    border: 3px solid black;
}
#odpovedi{
    width: 50%;
}

.wordBox{
    width: 150px;
    height: 100px;
    color: grey;
    border: 2px solid black;
}
.wordBox{
    width: 100px;
    height: 25px;
    background-color: white;
    border: 2px solid black;
}
#skladbaContainer{
    display: flex;
}
#mainPoslechContainer{
    display: flex;
    flex-direction: column;
}
#poslechContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: inline-block;
}
.poslechLine{
    text-align: left;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 180%;
}

.img{
    width: 50%;
    height: 50%;
}
