<div id = pictures class = picDefContainer>
    <img id = "image" src="" alt="">
    <div id = odpovedi>
        <button id = 4000button1 class = "4000button" onclick = "show_right_wrong_answer(this.id)">Odpověď A</button>
        <button id = 4000button2 class = "4000button" onclick = "show_right_wrong_answer(this.id)">Odpověď B</button>
        <button id = 4000button3 class = "4000button" onclick = "show_right_wrong_answer(this.id)">Odpověď C</button>
        <button id = 4000button4 class = "4000button" onclick = "show_right_wrong_answer(this.id)">Odpověď D</button>
        <button id = "NextButton" style = "display: none" onclick = "next_question()">Next</button>
    </div>
    <p id = answer></p>
</div>

<script>
const queryStringNaTuhleSracku = window.location.search;
const urlParameters = new URLSearchParams(queryStringNaTuhleSracku);
const urlImageId = urlParameters.get('id') //idčko z URL 
const urlImageIdLenght = urlImageId.length
intUrlId = parseInt(urlImageId)

const csvSports = `
        4000; bobfahren
        4001; eishockey
        4002; eiskunstlauf
        4003; fußball
        4004; golf
        4005; lacrosse
        4006; motocross
        4007; radfahren
        4008; rodeln
        4009; rugby
        4010; skispringen
        4011; slalom
        4012; snowboarden
        4013; surfen
        4014; tennis
        4015; volleyball
    `;

const maximumQuestionId = 4015 //id poslední otázky
const buttonList = document.getElementsByClassName("4000button")  //list HTML buttonů
let imageList = []; //list pro uložení csv pro volání po indexech

//a tu jest funkce, co to předělá na indexovaný objekty v obřím listu - a ano, ten trim funguje jen napůl
const pictureRows = csvSports.trim().split('\n');
for (const imageRow of pictureRows) {
    const [id, definition] = imageRow.split(';');
    imageList.push({id, definition});
}
let imageListLenght= Object.keys(imageList).length //tenhle list je irl object

//-------------------------------------------------------------------------------------------------------

//funkce, která vyhodí random číselnej index, který je menší než maximum
function get_random_pictureList_index(maximumIndex) {
  return Math.floor(Math.random() * maximumIndex);
}

//funkce pro vložení správné odpovědi podle ID v URL - vysvětlím v průběhu
function insert_image_and_answers(id){
    for (image of imageList){
        if(image['id'].trim() == id){ //porovnám jestli se idčko v url rovná idčku fotky a definice v objektu (je to to samý)
            document.getElementById("image").setAttribute("alt", image["definition"])
            //tady pak přidat src pro <img>
            RightAnswer = get_random_pictureList_index(4)//nastavím random tlačítku id z URL (správná odpověď) a definici
            buttonList[RightAnswer].id = urlImageId
            buttonList[RightAnswer].innerHTML = image['definition'] 
        }
        else{
            console.log("Něco se posralo")
        }
    }

    //v týhle části se jen dodělávají špatný tlačítka
    let imageDefinitionIndexList = [] //tu bude list na to, abych si uložil 3 random indexy na kradení si random definic z CSV
    let lenght = 0
    while(lenght<4){
        temporaryIndex = get_random_pictureList_index(imageListLenght)
        //kontroluju, jestli list už neobsahuje id, aby nebylo dvakrát a jestli se nerovná id URL, aby nebyly dvě správné odpovědi
        //druhá podmínka prostě zajistí, že součet indexu a 4000 (main indexu) se nerovná id v URL, aby se ta id znovu nevypsala z listu, protože jsou po jednom seřezný
        //je to odporný, ale normální zápis na kontrolu id nefunguje, protože JavaScript je zkurvená sračka a já nehodlám zjišťovat jak tahle lobotomie funguje
        if(imageDefinitionIndexList.includes(temporaryIndex) != true && String(4000+temporaryIndex) != urlImageId){
            imageDefinitionIndexList.push(temporaryIndex)
            lenght+=1
        }
    }
    console.log(imageDefinitionIndexList)

    //podle listu nastavím definice pro zbytek tlačítek, který nemaj URL id
    for(let i = 0; i<4; i++){
        if(buttonList[i].id != urlImageId){
            buttonList[i].innerHTML = imageList[imageDefinitionIndexList[i]]["definition"]
        }
    }
}

//získám si kliklý tlačítko a pokud se jeho idčko rovná id v URL, vypíče se "Right Answer"
function show_right_wrong_answer(clickedButtonId){
    userAnswer = document.getElementById(clickedButtonId).id
    wrongRightText = document.getElementById("answer")
    if(userAnswer == urlImageId){
        wrongRightText.innerHTML = "Right Answer"
        document.getElementById("NextButton").style.display = "block"
        for(button of buttonList){
            button.disabled = "true"
        }
    }
    else{
        wrongRightText.innerHTML = "You answered wrong. The right answer is:"+ imageList[parseInt(urlImageId[3])]["definition"]
        document.getElementById("NextButton").style.display = "block"
        for(button of buttonList){
            button.disabled = "true"
        }
    }
}

function next_question(){
    location.href = '../?quizid=4&id=' + String(intUrlId+1)
}
    
function show_score(){
    if(parseInt(urlImageId)> maximumQuestionId){
        document.getElementById("image").style.display = "none"
        document.getElementById("odpovedi").style.display = "none"
        document.getElementById("answer").innerHTML = "Your score is"
    }
}

insert_image_and_answers(urlImageId)
show_score()






</script>