<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Score</title>
</head>
<body>
    <div class="header">
        SpielDEQuiz!
    </div>

    <div id="homebutton" class="buttons home" >
        <button id="0" class="button" onclick="go_to_main_menu()">Zurück</button><br>
    </div>

    <div class="score">
        Score
    </div>

    <div class="score_main">
        <h1 class="score_num">
            0
        </h1>
    </div>


    <div class="footer">
        &copy; Copyright 2024 www.spieldequiz.xyz <br> alpha 
    </div>
</body>
<script type="text/javascript", src ="main.js"></script>
</html>