    <div class="header">
        SpielDEQuiz!
    </div>




<div id="quizbuttons" class="buttons">
    <button id="pictureDefinition" class="button" onclick="go_to_URL(this.id)">picDef</button><br>
    <button id="2" class="button" onclick="reply_click(this.id)">Quiz2</button><br>
    <button id="3" class="button" onclick="reply_click(this.id)">Quiz3</button><br>
</div>

<div id="homebutton" class="buttons home" style="display: none;">
    <button id="0" class="button" onclick="reply_click(this.id)">HOME</button><br>
</div>



<div id="game" class="game" style="display: none">
    <h1>placeholder</h1>

    <div id="1000">#1000#</div>
    <div id="2000"></div>
    <div id="3000"></div>
    <div id="4000">#4000#</div>
    <div id="5000"></div>
    <div id="6000"></div>
    <div id="7000"></div>
    <div id="8000"></div>

</div>







    <div class="footer">
        &copy; Copyright 2024 www.spieldequiz.xyz <br> alpha verze
    </div>


